<section class="game-details">
    <div class="back" (click)="onBack()">
        ‹
    </div>
    <section class="game-details-header">
        <h2>
            {{game.title}}
        </h2>
    </section>
    <section class="game-details-body">
        <section class="game-details-body-ingredient">
            <h2>Ingredients:</h2>
            <section class="ingredient" *ngFor="let idx of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                <h2>{{getIngredient(idx)}}</h2>
                <h3>{{getMeasure(idx)}}</h3>
            </section>
        </section>
        <img class="game-details-body-img" [src]="game.thumbnail" alt="">
    </section>
    <section class="game-details-info">
        <h2>Description:</h2>
        <p>{{game.short_description}}</p>
    </section>
    <section class="game-details-footer">
        <!-- <p>{{game.strAlcoholic}}</p>
        <p>{{game.strGlass}}</p> -->
    </section>
</section>